<h1>Enter username and password to log in.</h1>
<% if @something == 1 %>
  <h2>Username/password combination is incorrect dumbass</h2>
<% end %>
<form action="/sessions" method="post">
  <div>
    Email: <input type="text" name="email">
  </div>
  <div>
    Password: <input type="text" name="password">
  </div>

  <input type="submit" value="Log In">
</form>