<h1>Create New User</h1>
<form action="/users" method="post">
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Email: <input type="text" name="email">
  </div>
  <div>
    Password: <input type="text" name="password">
  </div>
  <div>
    Password_Confirmation: <input type="text" name="password_confirmation">
  </div>

  <input type="submit" value="create user">
</form>