<h2>Translate the following.</h2>
<% @expressions.each do |expression| %>
  <h2><%= expression.spanish %></h2>
  <form action="expressions" method="get">
    <div> 
      Enter the translation: <input type="text" name="">
    </div>
  </form>
<% end %>
